<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
    

    <title>Ingredient Dashboard</title>
  </head>
  {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
  {% if messages %}<!-- check if there are any messages -->
  {% for message in messages %}<!-- loop through the messages -->
  <p>{{message}}</p>
  {% endfor %} {% endif %} {% endwith %}
  
  <body>
    <form action="/new" method="post">
      <input type="hidden" name="user_id" value="{{ session.user_id }}" />
        <h1>Add Ingredients to Recipe</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
      <div>
        <p>
          <label>Ingredient Measurement: </label>
          <input type="text" name="measurement[]" value=""/>
        </p>
        <p>
          <label>Ingredient Name: </label>
          <input type="text" name="name[]" value=""/>
        </p>
        <a href="javasript:void(0);" title="add input">add input</a>
    </div>
      <button type="submit">Add</button>
    </form>
  </body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->
