<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
    <title>Your Recipes</title>
  </head>
  <body>
    <div>
      <input type="hidden" name="user_id" value="{{ session.user_id }}" />
      <h1>Welcome to Recipes 'R' Us, {{ session.user_login }}!!!!!</h1>
      <a href="/logout">Logout</a>
      <div>
        <h2>All Posted Recipes Library</h2>
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <td>Title</td>
            <td>Total Time</td>
            <td>Level</td>
            <td>Author</td>
          </tr>
        </thead>
        <tbody>
          {% for one_recipe in all_recipes %}
          <tr>
            <td>{{ one_recipe.title }}</td>
            <td>{{ one_recipe.total_time }}</td>
            <td>{{ one_recipe.level }}</td>
            <td>{{ one_recipe.lister.user_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/new">Add a Recipe</a>
    </div>
  </body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->
